*{
  margin:0;
  padding:0;
}
body
{
  margin:0;
  padding:0;
}
.banner{
  width:100%;
  margin:0;
  padding:0;
}
.banner img{
  width:100%;
  height:350px;
}
main{
  background-color:#f7eedd;
  padding-bottom:50px;
}
nav a
    {
    color:gray ;
   font-size:30px ;
   font-weight:400;
   text-decoration: none ;
   padding:4px 8px;
  }
  nav a:hover{
    color:#6a1b29;
    background-color:#fdfaf5;
  }
  nav{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
  }
.header-content 
{
  display:flex ;
  justify-content: space-between ;
  align-items: center ;
  padding:15px 0;
  gap:10px;
  width:90%;
  margin:0 auto;
} 
h3
{
  color:#571515;
  font-size :40px;
  font-weight:500 ;
  margin:0;
}
.primery-button 
{
  background-color:#571515 ;
  color: white ;
  font-size:20px;
  font-weight:400 ;
  border-radius:15px;
  cursor:pointer;
  border: none;
  padding:10px 20px;
  cursor: pointer;
} 
.container
{
padding:0;
margin:0;
width:100%;
}
.class-box
{
 font-size:20px;
 font-weight:600;
 display:flex ;
 justify-content: center;
 gap:30px;
 text-transform: uppercase;
 align-items: center;
}
.menu-list {
  padding: 30px 0;
  text-align: center;
}

.menu-list h2 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-content1 
{
  Color: gray;
  font-size:30px;
  font-weight:500;
 text-align: center;
}
.hero{
display:flex;
align-items: center;
justify-content: space-between;
gap:10px;
width:90%;
margin:0;
padding:20px 5%;

}
.hero-content{
display:flex;
gap:10px;
flex-direction: column;
flex:1;
padding-right: auto;
}
.hero-content h1{
  font-size:42px;
  margin:0;
}
.hero img{
  width:400px;
  height:300px;
  border-radius:15px;
}
p{
color: #64748b;
font-size: 24px;
font-weight: 400;
}
button{
font-size: 18px;
font-weight: 600;
border-radius: 6px;
cursor: pointer;
padding: 10px 16px;
gap: 10px;
}
.Explore-button{
color: #fff;
background-color: #800020;
border: none;
}
.Book-button{
color:#800020;
background-color:#fff;
border: 1px solid #800020;
}

.menu-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
gap:50px;
background-color:#f7eedd;
padding:30px 15px;
}
a{
 text-decoration:none;
 text-align: center;
 
}
.menu-container a{
  width:40%;
  
}

a img{
 width:350px;
 height:500px;
 border-radius:50px;
}
.cards {
  width: 100%;
  font-size:55px;
  font-weight:400;
  text-align: center;
  color: #800020;
  padding-top: 20px;
}

.card1{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.card1 div{
 width: 40%;
 margin: 15px;
 text-align: center;
 
}

.card1 img{
width:350px;
height:350px;
 border-radius: 20px;
}
.card1 div .desc {
 font-size:25px;
 font-weight:200;
 color: #4A4A4A;
 margin-top:5px;
 text-align: center;
 display: none;
  transition:0.3s;
}
.pie-card {
  width:40%;
  margin:15px;
  text-align: center;
}
.pie-card img {
  width:350px;
  height:285px;
  border-radius:20px;
}

.card1 div:hover .desc {
 display:flex;
  transform:translateY(-10px)
}
.card1 div h4{
 margin-top: 10px;
margin-right: 0px;
margin-bottom: 5px;
margin-left: 0px;
font-size: 40px;
font-weight:400;
color:#800020;
text-align: center;
}

.card1 div .price {
 text-align: center;
 font-size:30px;
 font-weight:300;
}
.Sandwiches{
  margin:0;
  padding:20px 25px 10px 25px;
}
.Sandwiches h2{
  text-align: center;
  background-color: #571515;
  color:#FFFADE;
  font-size:30px;
  border-radius:15px;
  margin-bottom:100px;
  padding-top:15px;
  padding-bottom:10px;
}

.Sandwiches h4{
  text-align:center;
  color: #000;
  margin-bottom:40px;
  font-size:22px;
  font-weight:500;
  background-color: #FFFCF0;
 width:210px; 
 display:flex;
border:2px solid #571515;
 border-radius:30px;
 padding:0 4px;
margin-top:0;
 justify-content: center;
 border-bottom:5px solid #571515;
}

.meat-Sandwiches{
  display: flex;
  gap:25px;
  justify-content:center;
  margin-bottom:40px;
  
}

.ms{
  background-color: #FFFCF0;
  display: flex;
  flex-direction: column;
  border:3px solid #571515;
  border-radius: 20px;
  padding:20px;
  align-items: center;
  padding-bottom:10px;
  width:45%;
}
.ms h3{
  font-size: 20px;
  text-align: center;
  color: #571515;
  margin: 25px 0;
}
.ms p{
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  text-align: center;
  margin-bottom: 20px;
}
.ms h5{
  text-align: center;
  background-color: #571515;
  color:#FFFADE;
border-radius:30px;
width:120px ;
margin-bottom:10px;
}
.ms img {
  width:300px;
  height:220px;
  border-radius:23px;
  border:2px solid #571515;
  display: flex;
  margin-top:10px;
  margin-bottom:10px;
}
.Sandwiches button{
  color:#571515 ;
  font-size: 18px;
background-color:#FFFCE9 ;
  border-radius: 30px;
  border:3px solid #571515;
  padding:3px 20px;
  cursor: pointer;
  font-weight: 600;
  margin-top:20px;
}
.Sandwiches button:hover{
  color: #FFFADE;
  background-color: #571515;
}



.Sweets{
  margin:0;
  padding:20px 25px 10px 25px;
}
.Sweets h2{
  text-align: center;
  background-color: #571515;
  color:#FFFADE;
  font-size:30px;
  border-radius:15px;
  margin-bottom:100px;
  padding-top:15px;
  padding-bottom:10px;
}

.Sweets h4{
  text-align:center;
  color: #000;
  margin-bottom:40px;
  font-size:24px;
  font-weight:500;
  background-color: #FFFCF0;
 width:250px; 
 display:flex;
border:2px solid #571515;
 border-radius:30px;
 padding:5px 4px;
margin-top:0;
 justify-content: center;
 border-bottom:5px solid #571515;
}

.cakes{
  display: flex;
  gap:25px;
  justify-content:center;
  margin-bottom:40px;
  
}

.ck{
  background-color: #FFFCF0;
  display: flex;
  flex-direction: column;
  border:3px solid #571515;
  border-radius: 20px;
  padding:20px;
  align-items: center;
  padding-bottom:10px;
  width:40%;
}
.ck h3{
  font-size: 22px;
  text-align: center;
  color: #571515;
  margin: 25px 0;
}
.ck p{
  font-size: 17px;
  font-weight: 400;
  color: #555555AD;
  text-align: center;
  margin-bottom: 20px;
}
.ck h5{
  text-align: center;
  background-color: #571515;
  color:#FFFADE;
border-radius:30px;
width:150px ;
margin-bottom:10px;
font-size: 18px;
}
.ck img{
  
  height:220px;
  border-radius: 23px;
  border:2px solid #571515;
  display: flex;
margin-top:20px;
margin-bottom:15px;
width: 300px;
}
.Sweets button{
  color:#571515 ;
  font-size: 18px;
background-color:#FFFCE9 ;
  border-radius: 30px;
  border:3px solid #571515;
  padding:3px 20px;
  cursor: pointer;
  font-weight: 600;
  margin-top:20px;
}
.Sweets button:hover{
  color: #FFFADE;
  background-color: #571515;
}






.food {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width:350px;
  margin: 15px;
  border: 2px solid #800020;
  border-radius: 5px;
  padding: 15px;
  background-color: #f5e6d3;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0px 4px 20px #800020;
}

.item img {
  width:100%;
  height:250px;
}

.item h3 {
  color: #800020;
}

.item p {
  color: #555;
  margin-bottom:10px;
}

.item span {
  color: #aa9f70;
  background-color: #800020;
  font-size:16px;
  border: 1px solid #aa9f70;
  border-radius: 5px;
  padding:5px 10px;
}

.item:hover {
  border-color: #800020;
  transform: translateY(-10px);
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content2{
  display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width:100%;
}
.hero-heading {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.hero-heading h1 {
    color: #FFF8E7;
    background-color: #7B1E2B;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
}

.hero-heading h1:hover {
    background-color: orange;
}

.hero-heading p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.hero-heading span {
    color: #7B1E2B;
    font-size: 20px;
    font-weight: 600;
}

.hero-heading span:hover {
    color: orange;
}

.hero-button button {
    color: #FFF8E7;
    background-color: #7B1E2B;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.hero-button button:hover {
    transform: translateY(-5px);
    background-color: #A32A3B;
}

.hero-foto img {
    border: 8px solid #7B1E2B;
    padding: 0;
    transition: 0.3s;
}

.hero img:hover {
    border-color: orange;
}

.dish-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-heading h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
    background-color: #7B1E2B;
    color: #FFF8E7;
    border-radius: 8px;
    padding: 20px;
}

.dish-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding:0 20px;
}

.dish-card {
    border: 3px solid #7B1E2B;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 15px #7B1E2B;
    transition: 0.5s;
    text-align: center;
    width:350px;
   height:450px;
}
.dish-card:hover {
    transform: translateY(-8px);
}

.dish-card h3 {
    color: #7B1E2B;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.dish-card p {
    margin-top:10px;
    margin-bottom:20px;
    font-size:15px;
    font-weight:500;
    height:60px;
    
}

.dish-card span {
    color: #FFF8E7;
    background-color: #7B1E2B;
    border: none;
    border-radius:8px;
    padding:10px 15px;
    margin-bottom:40px;
    font-size:18px;
    font-weight: 600;
    cursor: pointer;
}

.dish-card button {
    color: #FFF8E7;
    background-color: #7B1E2B;
    border: none;
    border-radius:8px;
    padding:10px 15px;
    font-size:18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.dish-card button:hover {
    transform: translateY(-5px);
    background-color: #A32A3B;
}

.addition-content {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: end;
    padding:0 30px;
}
.addition-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.addition-content h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
    background-color: #7B1E2B;
    color: #FFF8E7;
    border-radius: 8px;
    padding: 20px;
    width:200px;
    margin-right:0;
}

.addition-list {
    color: #3E2723;
    font-size:20px;
    font-weight:500px;
    display:flex;
    flex-direction: row; 
    justify-content: center;
    text-align: center;
    padding:4px;
    gap:30px;
}

.addition-class{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.addition-button button {
    color: #FFF8E7;
    background-color: #7B1E2B;
    border: none;
    border-radius: 8px;
    font-size:30px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    padding: 12px 35px;
    transition: 0.3s;
}

.addition-button button:hover {
    transform: translateY(-5px);
    background-color: #A32A3B;
}
.dish-card img {
  border: 8px solid #7B1E2B;
  width:90%;
  height:250px;
  border-radius: 8px;
}



h2{
  color: #FFFCF0;
  background-color:  #571515;
  border: 2px solid #571515;
  border-radius: 12px;
  text-align: center;
  font-size:30px;
  font-weight:900;
  padding:10px;
  margin:0 auto;
  width:90%;
}
.card{
  border: 2px solid #571515;
  border-radius: 17px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  height:400px;
  align-items: center;
  text-align: center;
  width:40%;
  padding:20px;
  transition:0.3s;
}
.card:hover {
  transform: translateY(-13px);
  box-shadow: 12px 12px 17px #647486;
} 

.div1, .div2,.div3{
display:flex;
gap:15px;
justify-content: center;
margin-top:30px;
margin-bottom:30px;
padding:0 20px;
flex:1;
}
.card img{
  width:100%;
  height:200px;
  border-radius:10px;
}
.card h4{
  color: #571515;
  font-size:22px;
  font-weight: 800;
  margin-top:15px;
}
.card p{
  color: #777;
  font-size:16px;
  font-weight:600;
  margin:10px 0;
}
.b1{
  color: #FFFCF0;
  border: 1px solid #571515;
  border-radius: 30px;
  width: 150px;
  background-color: #571515;
  padding: 20px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-top: auto;
}
button{
  color: #571515;
  background-color:#FFFCF0 ;
  border: 2px solid #571515;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom:10px;
}
  

.drink-title{
  color: #FFFCF0;
  background-color: #571515;
  border: 2px solid #571515;
  border-radius: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding: 10px 0;
  margin-top:0;
  margin-bottom:30px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}


.drink-card{
  border: 2px solid #571515;
  border-radius:12px;
  height:400px;
  text-align: center;
  background-color: #FFFCF0;
  width:340px;
  padding:15px;
  gap:20px;
}

.drink-card img{
  width:320px;
  height:250px;
  border-radius:10px;
  margin-bottom:10px;
}

.drink-card h4{
  color: #571515;
  font-size: 22px;
  font-weight: 800;
  margin:15px 0 10px 0;
}

.drink-card p{
  color: #777;
  font-size:16px;
  font-weight:600;
  margin-bottom:15px;
  margin-top:5px;
}

.juices {
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.juice-section{
  padding-top:10px;
}
.button-container{
  display:flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:10px;
}

.today-dishes {
    background-color: #f8f1e7;
    padding: 70px;

}

.section-title {
    text-align: center;
    margin-bottom: 45px;
}

.section-title span {
    color: #7b1e25;
    font-size: 18px;
    font-weight: bold;
}

.section-title h2 {
    color: #ffffff;
    font-size: 36px;
    margin: 10px 0;
}

.section-title p {
    color: #6b625c;
    font-size: 16px;
}


.dishes-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dish-cards{
    width: 320px;
    background-color: #fffaf3;
    border: 1px solid #d8c8b8;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(70, 30, 20, 0.08);
    transition: 0.3s;
}

.dish-cards:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(70, 30, 20, 0.15);
}


.dish-cards img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}


.dish-content {
    padding: 22px;
}

.dish-tag {
    display: inline-block;
    color: #fffaf3;
    background-color: #7b1e25;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 12px;
}

.dish-content h3 {
    color: #5c151b;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.dish-content p {
    color: #6b625c;
    font-size: 15px;
    line-height: 1.8;
    min-height: 55px;
}


.dish-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.price {
    color: #7b1e25;
    font-size: 21px;
    font-weight: bold;
}

.dish-bottom button {
    background-color: #7b1e25;
    color: #fffaf3;
    border: none;
    padding: 11px 18px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.dish-bottom button:hover {
    background-color: #5c151b;
}

footer{
background-color:#571515;
text-align: center; 
padding:80px 0;
font-family: cursive;
color:#FFFADE;
margin-top:0;
}
footer nav{
  display: flex;
  gap:40px;
  justify-content: center;
  align-items: center;
}
footer nav a{
font-weight: 400;
text-decoration: none;
color:#FFFADE;
}
.footer-content{
  border-bottom: 1px solid #FFFADE;
  width:100%;
  margin:0;
  padding-right: auto;
  padding-left: auto;
  padding-bottom:5px;
}
.footer-content h2{
font-size:25px;
  font-weight:700;
  margin-bottom:25px;
  margin-top:0;
  color:#FFFADE;
}
.footer-content nav{
  margin-bottom:40px;
}
.footer-content a{
font-size: 19px;
}
.footer-content a:hover{
  color: #571515;
  border-radius:12px;
  padding:2px 4px;
  background-color: #FFFADE;
}
.rights{
margin-top:40px;
}
.rights p{
  margin-top:5px;
  margin-bottom:30px;
  font-size:19px;
}
.rights nav a{
  font-size:15px;
  font-weight:400;
  text-align: center;
  margin:0 5px;
  width: auto;
}
.rights nav a:hover{
  color: #571515;
  border-radius:12px;
  padding:2px 6px;
  background-color: #FFFADE;
}
.rights a img{
  border-radius:30px;
  margin-right:2px;
  width:24px;
  height:24px;
}
